{% load crispy_forms_tags %}
<!-- Modal Add/Edit Bookmark -->
<div class="modal fade"
     id="bookmarkModal"
     tabindex="-1"
     aria-labelledby="bookmarkModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action=""
                  method="post"
                  id="bookmarkForm"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="bookmarkModalLabel">Add Bookmark</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">{{ form|crispy }}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
